/*--- Eventos ---*/
.container__eventos {
    background-color: #F4F7F9;
    width: 70%;
    max-width: 800px;
    padding: 60px 115px;
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.eventos__campo label {
    padding-bottom: 8px;
    font-size: 17px;
}

.eventos__campo input,
.eventos__campo select {
    background-color: var(--blanco);
    border: none;
    border-radius: 2px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    color: #828282;
    font-size: 17px;
    width: 100%;
    height: 35px;
}

.eventos__campo input::placeholder {
    color: #828282;
}


.eventos__enviar input{
    background-color: var(--resaltado);
    border: none;
    border-radius: 2.5px;
    font-family: 'Inter bold';
    font-size: 19px;
    color: var(--blanco);
    width: 150px;
    height: 40px;
}

/*--- MediaQueries ---*/
@media (max-width: 768px) {
    .container__eventos {
        width: 90%;
        max-width: 400px;
        padding: 20px;
    }

    .eventos__campo label {
        padding-bottom: 7px;
        font-size: 15px;
    }

    .eventos__campo input,
    .eventos__campo select {
        font-size: 15px;
    }
}