:root{
    --blanco: #FFF;
    --negro: #000;

    --principal: #263D55;
    --color-nav: #1F2C41;
    --resaltado-nav: #5ee9bd;
    --resaltado: #4DB695;
}

@font-face {
    font-family: 'Inter';
    src: url(../fuentes/Inter_18pt-Regular.ttf);
}

@font-face{
    font-family: 'Inter bold';
    src: url(../fuentes/Inter_18pt-Bold.ttf);
}



/*--- --- --- ESTILOS GENERALES --- --- ---*/
*{
    font-family: 'Inter';
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    min-height: 100vh;
    width: 100%;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

.svg-spacing-button{
    height: 100%;
    margin-right: 5px;
}

.input-button{
    width: 100px;
}

/*--- --- Header --- ---*/
header{
    min-width: 100%;
    background-color: var(--principal);
    height: 111px;
}

header img{
    height: 78px;
}

/*--- --- Barra de navegación --- --- */
.navegacion {
    height: auto;         
    min-height: 53px; 
    display: flex;
    flex-wrap: wrap; 
    padding: 10px 2%;      
    background-color: var(--color-nav);
    align-items: center;
    justify-content: center;
    position: relative;    
}


.navegacion a {
    width: auto; 
    min-width: 80px; 
    
    display: inline-block;
    margin: 15px 12px; 
    font-size: 16px;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    
    transition: color 0.3s ease;
}



@media screen and (min-width: 768px) {
    .navegacion a {
        width: auto;
        font-size: 20px;
        margin: 5px;
    }
}

.navegacion a:hover{
    color: var(--resaltado-nav);
}

.selected-page{
    color: var(--resaltado-nav) !important;
}




/*--- --- Main --- ---*/
main{
    padding: 0 6%;
    flex: 1;
}

main h1{
    font-family: 'Inter bold';
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    margin: 19px 0 10px 0;
}

/*--- --- Footer --- ---*/
footer{
    width: 100%;
    padding: 20px 0;
    margin-top: auto;

    font-size: 16px;
    color: var(--blanco);
    background-color: var(--principal);
}

footer p{
    margin: 0;
}

/*--- --- --- Media queries --- --- ---*/
@media screen and (max-width: 768px){
    header img{
        width: 95%;
        margin: 0 auto;
    }
}

